.row(ng-repeat-start="cat in profile_data")
  .col-xs-12.text-center
    h1 {{ cat.name }}
.row(ng-repeat-end='')
  .card-deck-wrapper
    .card-deck
      .card(ng-repeat="category in cat.categories")
        .card-block.text-center
          h3.card-title {{ category.name }}
          p.card-text {{ category.description }}
          .card-text
            dl.dl-horizontal(ng-repeat="skill in category.skills")
              dt.col-xs-6.text-right {{ skill.name }}
              dd.col-xs-6.text-left
                span(ag-star-rating rating="skill.rating" css="text-warning")
