.row
  ag-star-rating(rating="rating" css="text-success fa-2x")
  button.btn.btn-primary-outline(ng-click="incRating()") +

.row
  div(
    ag-star-rating
    rating="rating"
    css="text-warning fa-2x"
    )
  button.btn.btn-primary-outline(ng-click="incRating()") +
