doctype html
html(ng-app='agProfile')
  head
    meta(charset="utf-8")
    // All other bower components
    - var base = ['jquery/dist/jquery.min', 'underscore/underscore-min']
    - var angularFiles = ['angular/angular.min', 'angular-ui-router/release/angular-ui-router.min']

    - var files = base.concat(angularFiles)

    each file in files
      script(src='bower_components/'+file+'.js')

    // Bootstrap -- given some special treatment
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel='stylesheet')


    - var localJs = ['app', 'controllers/master', 'directives']
    each file in localJs
      script(src='js/'+file+'.js')

  body(ng-controller='MasterController')
    .jumbotron.jumbotron-fluid
      .container-fluid.text-center
        h1.display-2 Anish ‘basso’ George
        h3 Full-Stack Web Developer
        p.lead This website is a work in progress
    .container
      ui-view
