doctype html
html
  head
    meta(charset="utf-8")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="./lib/bootstrap/dist/js/bootstrap.min.js")
    link(href="./lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

  body
    .jumbotron.jumbotron-fluid
      .container-fluid.text-center
        h1.display-2 Anish ‘basso’ George
        h3 Full-Stack Web Developer
        p.lead This website is a work in progress
